# 安装依赖扁平化 提升依赖，有些依赖必须在根目录的node_modules才会生效时，需要设置为true
shamefully-hoist=true

# 如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败。
strict-peer-dependencies=false

# 当置为 true，pnpm 将使用 bash-like shell 这个JavaScript 实现的执行器来运行脚本。简化跨平台脚本实行
shell-emulator=true